<table>
	<tr>
	    <td>
	        <a href="/programm/station/SF1/3/">
	            <img src="http://media.cinergy.ch/t_station/3/logo_s_big1.gif" alt="SF1" title="SF1" height="30" width="40" />
	        </a>
	    </td>
	    <td class="show">
	        <a href="/tv/player/player.php?station_id=3" target="_blank" title="Tagesschau">
	            <strong>Tagesschau</strong>
	        </a>
	        <p>noch 0' | <a href="/programm/?program_type=live&amp;program_date=live&amp;program_filter=genre&amp;program_wheel=news">News</a></p>
	        <p></p>
	    </td>
	    <td class="actions">
	        <ul>
	            <li>
	                <a href="/programm/show/SF1/Tagesschau/201209221800003" data-info-icon="201209221800003" title="Info"></a>
	            </li>
	            <li>
	                <a href="#" data-id="201209221800003" data-watchlist-icon="201209221800003" title="Auf Watchlist setzen/enfernen"></a>
	            </li>
	            <li>
	                <a href="/layer/rectv/record.php?const_id=201209221800003&amp;referring_pagetype=teleboyrecord" title=" Sendung aufnehmen "></a>
	            </li>
	            <li>
	                <a href="/tv/player/player.php?station_id=3" target="_blank" data-play-live="1/159" data-has-lowstream="1" data-stationid="3" title="Sendung schauen"></a>
	            </li>
	        </ul>
	    </td>
	</tr>                                                                                                    
	<tr>
	    <td>
	        <a href="/programm/station/SF2/4/">
	            <img src="http://media.cinergy.ch/t_station/4/logo_s_big1.gif" alt="SF2" title="SF2" height="30" width="40" />
	        </a>
	    </td>
	    <td>
	        <a href="/tv/player/player.php?station_id=4" target="_blank" title="Box Office" data-id="201209221750004">
	            <strong>Box Office</strong>
	        </a>
	        <p class="listing_info no_padding">noch 20' | <a href="/programm/?program_type=live&amp;program_date=live&amp;program_filter=genre&amp;program_wheel=cinema">Kino</a></p>
	        <p class="listing_details hidden" id="show_2">mit Lory Roebuck.</p>
	    </td>
	    <td>
	        <ul>
	            <li>
	                <a href="/programm/show/SF2/BoxOffice/201209221750004" data-info-icon="201209221750004" title="Info"></a>
	            </li>
	            <li>
	                <a href="#" data-channel="tv" data-id="201209221750004" data-watchlist-icon="201209221750004" title="Auf Watchlist setzen/enfernen"></a>
	            </li>
	            <li>
	                <a href="/layer/rectv/record.php?const_id=201209221750004&amp;referring_pagetype=teleboyrecord" title=" Sendung aufnehmen "></a>
	            </li>
	            <li>
	                <a href="/tv/player/player.php?station_id=4" target="_blank" data-play-live="8/108" data-has-lowstream="1" data-stationid="4" title="Sendung schauen"></a>
	            </li>
	        </ul>
	    </td>
	</tr>
	<tr>
	   <td>
	       <div class="monster-sky">
				<div id="asyncPlaceholder_4043698_UID" style="position:relative;"></div>
	       </div>
	   </td>
	</tr>
</table>

<p><a data-reload="true" target="_blank" href="http://localdev.backbonetest.ch/adtest">Adtest Page</a></p>
